<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Tus últimos pedidos
    </ion-title>
    <ion-buttons slot="end">
      <ion-button href="/"> <ion-icon name="return-down-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let pedido of ultimosPedidos">
      <ion-label>
        <h2>Mesa {{ pedido.cuenta.mesa.id }}</h2>
        <h3>Pedido {{ pedido.id }}</h3>
        <p><strong>Notas:</strong> {{ pedido.notas }}</p>
        <p><strong>Precio Total:</strong> {{ pedido.precio }}€</p>
        <ng-container *ngIf="!soloBebidasYEntrantes(pedido)">
          <p *ngIf="pedido.listoParaServir" ><strong style="background-color: chartreuse;">Listo</strong></p>
          <p *ngIf="!pedido.listoParaServir" ><strong style="background-color: rgb(249, 158, 39);">En Marcha</strong></p>
        </ng-container>
        <ion-list>
          Productos
          <ion-item *ngFor="let producto of pedido.products">
            <ion-label>
              <h3>{{ producto.nombreProducto }}</h3>
              <p><strong>Categoría:</strong> {{ producto.categoria }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
