<!-- product-modal.page.html -->
<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Detalles del producto
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon
          slot="icon-only"
          name="return-down-back-outline"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ product.nombreProducto }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngIf="product.existencias == 0">
          <ion-label color="danger"><strong>NO DISPONIBLE</strong></ion-label>
        </ion-item>
        <ion-item>
          <ion-label><strong>Nombre:</strong> {{ product.nombreProducto }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><strong>Precio:</strong> {{ product.precio }} €</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><strong>Categoría:</strong> {{ product.categoria }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><strong>Alergenos:</strong> {{ product.alergenos }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><strong>Descripción:</strong> {{ product.descripcion }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
