<!-- product-modal.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>
      Detalles del producto
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngIf="product.existencias==0">
      <ion-label  color="danger">No DISPONIBLE</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Nombre: {{ product.nombreProducto }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Precio: {{ product.precio }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Categoría: {{ product.categoria }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Alergenos: {{ product.alergenos }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
