.table-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .table-card-content ion-icon {
    margin-bottom: 8px;
  }
  
  .table-info p {
    margin: 0;
  }
  