#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.desayunos { background-color: #FF6347; } /* Tomate */
.entrantes { background-color: #32CD32; } /* Lima */
.pescados { background-color: #4682B4; } /* Acero azul */
.vinos { background-color: #6A5ACD; } /* Pizarra azul */
.carnes { background-color: #FFD700; } /* Oro */
ion-segment {
  overflow-x: auto;
  white-space: nowrap;
}
ion-label {
  padding: 0 10px; /* Aumenta el padding si es necesario */
}
ion-segment-button {
  min-width: 120px; /* Ajusta según sea necesario */
}
.cuenta-card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cuenta-info {
  margin-left: 10px;
  
}
.cuenta-info p {
  font-size: large;
  
}

ion-card.selected {
  background-color: var(--ion-color-primary);
  color: white; /* Cambiar el texto a blanco para contraste */
}

ion-label {
  font-weight: bold;
  font-size: 1.2em;
  margin: 10px 0;
  display: block;
}

