<!-- MENU -->
<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item href="/last-orders">
      <ion-icon slot="start" name="receipt-outline"></ion-icon>
      Tus últimos pedidos
    </ion-item>
    <ion-button expand="block" color="danger" (click)="logout()">
      Cerrar Sesión
    </ion-button>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <app-header></app-header>

  <ion-content>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button color="tertiary" (click)="openCart(true)">
        <ion-icon name="cart"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-fab slot="fixed" vertical="bottom" horizontal="start">
      <ion-fab-button color="tertiary" href="/accounts">
        <ion-icon name="card"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-segment [(ngModel)]="categoria" (ionChange)="segmentChanged($event)">
      <div class="segment-grid">
        <ion-segment-button
          class="segment-button"
          style="background-color: rgb(183, 197, 254); color: black"
          value="bebida"
        >
          <ion-label>Bebidas</ion-label>
        </ion-segment-button>
        <ion-segment-button
          class="segment-button"
          style="background-color: aquamarine; color: black"
          value="postre"
        >
          <ion-label>Postres</ion-label>
        </ion-segment-button>
        <ion-segment-button
          class="segment-button"
          style="background-color: rgb(159, 255, 127); color: black"
          value="desayunos"
        >
          <ion-label>Desayunos</ion-label>
        </ion-segment-button>
        <ion-segment-button
          class="segment-button"
          style="background-color: rgb(255, 157, 127); color: black"
          value="entrante"
        >
          <ion-label>Entrantes</ion-label>
        </ion-segment-button>
        <ion-segment-button
          class="segment-button"
          style="background-color: rgb(255, 127, 240); color: black"
          value="pescados"
        >
          <ion-label>Pescados</ion-label>
        </ion-segment-button>
        <ion-segment-button
          class="segment-button"
          style="background-color: rgb(255, 236, 127); color: black"
          value="carnes"
        >
          <ion-label>Carnes</ion-label>
        </ion-segment-button>
        <ion-segment-button
        class="segment-button"
        style="background-color: rgb(140, 127, 255); color: black"
        value="Serranitos"
      >
        <ion-label>Serranitos</ion-label>
      </ion-segment-button>
      <ion-segment-button
      class="segment-button"
      style="background-color: rgb(127, 255, 172); color: black"
      value="Montaditos"
    >
      <ion-label>Montaditos</ion-label>
    </ion-segment-button>
        <ion-segment-button
          class="segment-button"
          style="background-color: rgb(202, 255, 250); color: black"
          value=""
        >
          <ion-label>TODO</ion-label>
        </ion-segment-button>
      </div>
    </ion-segment>
    

    <ion-list>
      <ion-card *ngFor="let product of products">
        <ion-card-header>
          <ion-card-title>{{ product.nombreProducto }}</ion-card-title>
          <ion-card-subtitle>{{ product.precio }}€</ion-card-subtitle>
          <ion-card-subtitle *ngIf="!product.existencias" color="warning"
            >NO HAY EXISTENCIAS</ion-card-subtitle
          >
        </ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <!-- Primera mitad de la pantalla -->
              <ion-button color="secondary" expand="full" (click)="presentProductModal(product)">
                Detalles
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <!-- Segunda mitad de la pantalla -->
              <ion-button color="tertiary" *ngIf="product.existencias" expand="full" (click)="addProduct(product)">
                Añadir
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      
       
      </ion-card>
    </ion-list>
  </ion-content>

  <ion-modal [isOpen]="cartOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar color="secondary">
          <ion-title>Carrito</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="openCart(false); actualizarCarro();">
              <ion-icon
                slot="icon-only"
                name="return-down-back-outline"
              ></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list *ngIf="cartItems.length === 0">
          <ion-item>
            <ion-label>Pedido vacío</ion-label>
          </ion-item>
        </ion-list>
        <ion-list *ngIf="cartItems.length > 0">
          <ion-item>
            <ion-button
              color="danger"
              expand="full"
              (click)="clearCart();actualizarCarro()"
            >
              <ion-icon slot="start" name="close-circle-outline"></ion-icon>
              Vaciar Carrito
            </ion-button>
          </ion-item>
          <ion-item *ngFor="let item of cartItems; let i = index">
            <ion-label
              >{{ item.nombreProducto }}{{ item.quantity > 1 ? ' x' +
              item.quantity : '' }}</ion-label
            >
            <ion-label slot="end">{{ (item.precio).toFixed(2) }}€</ion-label>
            <ion-button fill="outline" color="medium" (click)="removeItem(i)"
              >-</ion-button
            >
            <ion-button fill="outline" color="medium" (click)="addProduct(item)"
              >+</ion-button
            >
          </ion-item>
        </ion-list>
        <ion-segment value="interior">
          <ion-segment-button
            value="interior"
            (click)="interior = true"
            [ngClass]="{ 'selected': interior }"
          >
            <ion-label>Interior</ion-label>
          </ion-segment-button>
          <ion-segment-button
            value="exterior"
            (click)="interior = false"
            [ngClass]="{ 'selected': !interior }"
            
          >
            <ion-label>Exterior</ion-label>
          </ion-segment-button>
        </ion-segment>
        <ion-item *ngIf="cuentasAbiertas.length === 0">
          <ion-label>No hay cuentas abiertas, abre una <a href="/accounts">pulsando aquí</a></ion-label>
        </ion-item>
        
        <ion-grid *ngIf="cuentasAbiertas" >
          <ion-row *ngIf="interior">
            <ion-col size="6" *ngFor="let cuenta of cuentasAbiertas">
              <ion-card
                *ngIf="cuenta.mesa.ubicacion === 'INTERIOR'"
                [ngClass]="{ 'selected': cuentaSelected?.id === cuenta.id }"
                (click)="selectCuenta(cuenta)"
              >
                <ion-card-content class="cuenta-card-content">
                  <ion-icon name="wallet-outline" size="large"></ion-icon>
                  <div class="cuenta-info">
                    <p>Cuenta {{ cuenta.id }}</p>
                    <p>Mesa: {{cuenta.mesa.id}} {{ cuenta.mesa.ubicacion }}</p>
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="!interior">
            <ion-col size="6" *ngFor="let cuenta of cuentasAbiertas">
              <ion-card
                *ngIf="cuenta.mesa.ubicacion === 'EXTERIOR'"
                [ngClass]="{ 'selected': cuentaSelected?.id === cuenta.id }"
                (click)="selectCuenta(cuenta)"
              >
                <ion-card-content class="cuenta-card-content">
                  <ion-icon name="wallet-outline" size="large"></ion-icon>
                  <div class="cuenta-info">
                    <p>Cuenta: {{ cuenta.id }}</p>
                    <p>Mesa: {{cuenta.mesa.id}} {{ cuenta.mesa.ubicacion }}</p>
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        
        </ion-grid>
        
         
        <ion-item>
          <ion-label for="notasPedido" position="floating">Notas Pedido</ion-label>
          <ion-input id="notasPedido" [(ngModel)]="notasPedido" name="notasPedido"> <ion-button slot="end" color="medium" fill="clear" size="default" (click)="clearNotasPedido()">
            <ion-icon name="close-circle"></ion-icon>
          </ion-button></ion-input>
          
        </ion-item>
        <ion-button
          expand="block"
          color="success"
          (click)="placeOrder()"
          [disabled]="!cuentaSelected"
        >
          Realizar pedido
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</div>
