<!-- MENU -->
<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item href="/last-orders">
      <ion-icon slot="start" name="receipt-outline"></ion-icon>
      Tus últimos pedidos
    </ion-item>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <app-header></app-header>

  <ion-content>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button  color="tertiary" (click)="openCart(true)">
        <ion-icon  name="cart"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-fab slot="fixed" vertical="bottom" horizontal="start">
      <ion-fab-button color="tertiary" href="/accounts">
        <ion-icon name="card"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-segment [(ngModel)]="categoria" (ionChange)="segmentChanged($event)">
      <ion-row>
        <ion-segment-button
          style="background-color: rgb(183, 197, 254); color: black"
          value="bebida"
        >
          <ion-label>Bebidas</ion-label>
        </ion-segment-button>
        <ion-segment-button
          style="background-color: aquamarine; color: black"
          value="postre"
        >
          <ion-label>Postres</ion-label>
        </ion-segment-button>
        <ion-segment-button
          style="background-color: rgb(159, 255, 127); color: black"
          value="desayunos"
        >
          <ion-label>Desayunos</ion-label>
        </ion-segment-button>
        <ion-segment-button
          style="background-color: rgb(255, 157, 127); color: black"
          value="entrante"
        >
          <ion-label>Entrantes</ion-label>
        </ion-segment-button>
      </ion-row>
      <ion-row>
        <ion-segment-button
          style="background-color: rgb(255, 127, 240); color: black"
          value="pescados"
        >
          <ion-label>Pescados</ion-label>
        </ion-segment-button>
        <ion-segment-button
          style="background-color: rgb(205, 98, 255); color: black"
          value="vinos"
        >
          <ion-label>Vinos</ion-label>
        </ion-segment-button>
        <ion-segment-button
          style="background-color: rgb(255, 236, 127); color: black"
          value="carnes"
        >
          <ion-label>Carnes</ion-label>
        </ion-segment-button>
        <ion-segment-button
          style="background-color: rgb(250, 250, 250); color: black"
          value=""
        >
          <ion-label>TODO</ion-label>
        </ion-segment-button>
      </ion-row>
    </ion-segment>

    <ion-list>
      <ion-card *ngFor="let product of products">
        <ion-card-header (click)="presentProductModal(product)">
          <ion-card-title>{{ product.nombreProducto }}</ion-card-title>
          <ion-card-subtitle>{{ product.precio }}€</ion-card-subtitle>
          <ion-card-subtitle *ngIf="!product.existencias" color="warning"
            >NO HAY EXISTENCIAS</ion-card-subtitle
          >
        </ion-card-header>

        <ion-button *ngIf="product.existencias" (click)="addProduct(product)"
          >Agregar al carrito</ion-button
        >
      </ion-card>
    </ion-list>
  </ion-content>

  <ion-modal [isOpen]="cartOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar color="secondary">
          <ion-title>Carrito</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="openCart(false); actualizarCarro();">
              <ion-icon slot="icon-only" name="return-down-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list *ngIf="cartItems.length === 0">
          <ion-item>
            <ion-label>Pedido vacío</ion-label>
          </ion-item>
        </ion-list>
        <ion-list *ngIf="cartItems.length > 0">
          <ion-item>
            <ion-button color="danger" expand="full" (click)="clearCart();actualizarCarro()">
              <ion-icon slot="start" name="close-circle-outline"></ion-icon>
              Vaciar Carrito
            </ion-button>
          </ion-item>
          <ion-item *ngFor="let item of cartItems; let i = index">
            <ion-label>{{ item.nombreProducto }}{{ item.quantity > 1 ? ' x' + item.quantity : '' }}</ion-label>
            <ion-label slot="end">{{ (item.precio).toFixed(2) }}€</ion-label>
            <ion-button fill="outline" color="medium" (click)="removeItem(i)">-</ion-button>
            <ion-button fill="outline" color="medium" (click)="addProduct(item)">+</ion-button>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-label>Cuentas Abiertas</ion-label>
          <ion-select [(ngModel)]="cuentaSelected" required>
            <ion-select-option *ngFor="let cuenta of cuentasAbiertas" [value]="cuenta">
              {{ cuenta.id }} {{ cuenta.mesa.ubicacion }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Seleccione Usuario:</ion-label>
          <ion-select [(ngModel)]="userSelected" required>
            <ion-select-option *ngFor="let user of users" [value]="user">
              {{ user.id }} {{ user.username }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button expand="block" color="success" (click)="placeOrder()" [disabled]="!cuentaSelected || !userSelected">
          Realizar pedido
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</div>
